
@import '~@fortawesome/fontawesome-free/css/all.css';



/* Estilos para el contenedor principal de la página de inicio */
.inicio-container {
    position: relative;
    height: 100vh;
  }
  
  /* Estilos para la imagen de fondo */
  .fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/images/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
  }
  
  /* Estilos para el contenido de la página de inicio */
  .contenido {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 100%;
    padding: 20px;
  }
  
  /* Estilos para el título principal */
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para el texto descriptivo */
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para el contenedor de redes sociales */
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para los enlaces de redes sociales */
  .redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Estilos para cambiar el color de los enlaces de redes sociales al pasar el ratón sobre ellos */
  .redes-sociales a:hover {
    color: #007bff; 
  }
  